<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      th:replace=~{client/baseClient::layout(~{::main})}>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<!--    <link rel="stylesheet" type="text/css" th:href="@{css/baseDashCss.css}">-->
</head>
<body>

<main class="col overflow-auto h-100 -100">
    <h2 th:text="${title}">Client Dashboard</h2>

    <div th:if="${session.message}" th:classappend="${session.message.getType()}" class="alert alert-primary" role="alert">
        <p class="text-center" th:text="${session.message.getContent()}"> </p>
        <th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
    </div>̥

    <form th:action="@{project/add-new-project}" method="post" th:object="${project}">

        <div class="form-group">
            <label for="name">Project Name:</label>
            <input type="text" class="form-control" id="name"
                   th:value="${project != null ? project.getName() : '' }" name="name" required>
        </div>

        <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" class="form-control" id="location"
                   th:value="${project != null ? project.getLocation() : '' }" name="location" required>
        </div>

        <div class="form-group">
            <label for="landSize">Land Size:</label>
            <input type="text" class="form-control" id="landSize"
                   th:value="${project != null ? project.getLandSize() : '' }" name="landSize" required>
        </div>


        <div class="form-group">
            <label for="budget">Budget:</label>
            <input type="text" class="form-control" id="budget"
                  th:value="${project != null ? project.getBudget() : ''}" name="budget">
        </div>

        <div class="form-group">
            <label for="timeline">Timeline:</label>
            <input type="text" class="form-control" id="timeline"
                   th:value="${project != null ? project.getTimeline() : ''}" name="timeline">
        </div>

        <div>
            <label for="mytextarea">Other Details :</label>
            <textarea name="ProjectDescription" id="mytextarea"
             th:value="${project != null ? project.getProjectDescription() : ''}" ></textarea>
        </div>


        <button type="submit" class="btn btn-warning">Create Project</button>

    </form>

    <script src="https://cdn.tiny.cloud/1/f2n0rpvq18n8phcrxf4rdtv6c3qe54nuygiaeo678mw4kko6/tinymce/7/tinymce.min.js"
            referrerpolicy="origin"></script>

    <script>
        tinymce.init({
          selector: '#mytextarea'
        });
    </script>



</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>


</body>
</html>