<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" th:replace=~{client/baseClient::layout(~{::div})}>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{css/baseDashCss.css}">
</head>
<body>

<div class="container-fluid h-100">
    <div class="bg-light border rounded-3 p-3">
        <h2 th:text="${sp.name}"></h2>
        <a class="btn btn-outline-warning btn-sm" data-bs-toggle="modal" data-bs-target="#quotation" role="button">Ask
            Quotation</a>
        <div class="alert alert-danger" role="alert" th:text="${errorMessageQuot}" th:if="${errorMessageQuot != null}"></div>


        <div class="modal fade" id="quotation" data-bs-backdrop="static" data-bs-keyboard="false"
             tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Ask Quotation</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="mb-3 row">

                            <p class="h5">Select Project to get Quotation</p>
                            <form id="quotationForm" th:action="@{/client/askQuotation/{sp_id}(sp_id=${sp.UserId})}" method="post">
                                <input type="hidden" name="name" th:value="Quotation" readonly class="form-control-plaintext"/>

                                <input name="documentName" type="hidden" th:value="QuotationDocument"/>

                                <input type="hidden" name="status">

                                <input type="hidden" name="byClientId" th:value="${CurrentUser.UserId}"/>
                                <input type="hidden" name="toSpId" th:value="${sp.UserId}"/>
                                <div class="form-group mb-5" >
                                    <label class="control-label col-sm-offset-2 col-sm-2 mb-3"
                                           for="project_id">Projects</label><br>
                                    <div class="col-sm-6 col-md-4">
                                        <select id="project_id" class="form-control mb-2" name="projectId">
                                            <option value="">Select a Project</option>
                                            <option class="mb-2" th:each="project : ${projectList}" th:value="${project.projectId}"
                                                    th:text="${project.name}">Small
                                            </option>
                                        </select>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" form="quotationForm">Ask Quotation</button>
                        <!--                                    <button href="#" type="button" class="btn btn-primary">Block Client</button>-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>


</body>
</html>